body {
  margin: 0;
}

.header {
  background-color: #251b3452;
  font-size: 2rem;
  height: 3rem;
  padding: 2rem;
}

.header a {
  color: #6900ff;
  text-decoration: none;
  text-decoration: none;
  margin-left: 3rem;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}