body {
  margin: 0;
  left: 0;
  top: 0;
}

.header-container{
  padding-top: 1.2rem;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: black;
  padding: 3rem 6rem;
  grid-gap: 3rem;
  margin-top: 2rem;
}

.header {
  background-color: #17172f94;
  font-size: 2rem;
  height: 5rem;
  border-bottom: 0.0625rem solid rgb(235 53 53);
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

.header a {
  color: #8442fb;
  margin-left: 3rem;
  text-decoration: none;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media screen and (max-width: 1090px) {
  .movie-container {
    grid-template-columns: 1fr;
    width: 100%;
    padding:0;
  }
}