.movieContainer {
    flex-direction: row;
    justify-content: center;

}


.link{
    text-decoration: none;
    color: white;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.coverImg {
  border-radius: 2rem;
  width: 12rem;
  padding: 1rem;
}

.coverImg:hover{
  filter: brightness(0.5);
  transition-duration: 1s;
}


.title{
  width: 12rem;
  height: 5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

