
.movieContainer {
    flex-direction: row;
    justify-content: center;

}


.link{
    
    text-decoration: none;
    color: white;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.coverImg {
  border-radius: 2rem;
  width: 12rem;
  padding: 1rem;
}

.title{
  width: 12rem;
}
