.movieContainer {
    flex-direction: row;
    justify-content: center;

}


.link{
    
    text-decoration: none;
    color: white;
    border-radius: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.coverImg {
  border-radius: 2rem;
  width: 12rem;
  padding: 1rem;
}


.title{
  width: 12rem;
  height: 5rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* .movieInfo {
  width: 15rem;
  height: 24rem;
  border: 0.0625rem solid rgb(17 18 222 / 91%);
  border-radius: 1rem;
  background-color: rgb(67 67 67 / 40%);
  position: absolute;
  display: none;
} */

.link:hover{
  width: 15rem;
  height: 24rem;
  border: 0.0625rem solid rgb(17 18 222 / 91%);
  border-radius: 1rem;
  background-color: rgb(67 67 67 / 40%);
  position: absolute;
}