@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body{
    color: rgb(41, 38, 33);
    background-color: rgb(255, 165, 69);
}

.title {
  font-size: 3rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Black Han Sans', sans-serif;
  margin-top: 15rem;
}

.sub {
  font-size: 1rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.select {
  width: 34rem;
  height: 3rem;
  margin-bottom: 1rem;
  background-color: rgb(0 0 0 / 21%);
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.context{
    font-size: 1.2rem;
    padding: 1rem;
}

.width{
  width: 12rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.padding{
 margin-top: 2rem;
}

.table{
  margin-top: 3rem;
  background-color: rgb(247 247 247 / 13%);
  padding: 2rem 5rem;
  border-radius: 0.5rem;
}

.input {
  width: 15rem;
  height: 2rem;
}